{block content}

<div id="content">
   {block tlbox}
    {foreach $map->weeks as $week}
        {foreach $week as $day}
            
        {/foreach}    
    {/foreach}
   {/block}
</div>

{/block}
