# Configuration file for monda
# You have to fill all required settings

ZABBIX_USER = somewebuser
ZABBIX_PW = somepassword
ZABBIX_URL = http://zabbixhost/api_jsonrpc.php
ZABBIX_DB_TYPE = MYSQL
ZABBIX_DB_SERVER = 127.0.0.1
ZABBIX_DB_PORT = 3306
ZABBIX_DB = zabbix
ZABBIX_DB_USER = zabbix
ZABBIX_DB_PASSWORD = somedbpasword

# Defaults:
# Servers has to be set manualy, either static or get all hosts from zabbix group
# HOSTS=host1 host2 host3 
# or
# HOSTGROUP=Servers

# Get all items from host
#PERSERVER = 

# Get 24hour interval from 00:00 yesterday to 00:00 today
#TIME_START = 00:00 -1 days
#INTERVALS = 24hour

# Time precision for normalizing is 60 seconds
#TIME_PRECISION = 60


# Example to get only some items from all hosts in group Servers
#HOSTGROUP = 'Servers'
#EXCLUDED_HOSTS = 
# We can include only some items (uncommented to include all)
#INCLUDED_ITEMS += net.if.in net.if.out system.cpu.load proc.num 
# Or exclude some of them
#EXCLUDED_ITEMS += vfs.fs.size vm.memory.size system.hostname system.boottime kernel.maxfiles

# Get 7 days back, each day will be one file YYYY-mm-dd-00-00-24hour
#TIME_START = 00:00 -7 days
#INTERVALS = 24hour

# Example to get all data from Cisco group. We need less precision because SNMP data have bigger delay
#HOSTGROUP = 'Servers'
# Get 7 days back, each day will be one file YYYY-mm-dd-00-00-24hour
#TIME_START = 00:00 -7 days
#INTERVALS = 24hour
#TIME_PRECISION=300

# Analyzation options
# Minimum coefficient of variance (items under this threshold will not be analyzed)
#CV=0.1

# Delay
# Normalize all items to interval delay seconds (default 60)
#DELAY=60
# Minimum correlation factor
#CMIN=0.4
# Maximum time for correlation pass1
#CMAXTIME1=1000
# Maximum time for correlation pass2
#CMAXTIME2=1000
# Maximum iterations pass1
#CITERATIONS1=200
# Maximum iterations pass2
#CITERATIONS2=200
