body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.loih1 {
    background-color: #66dddd;
}
.loih2 {
    background-color: #77dddd;
}
.loih3 {
    background-color: #88dddd;
}
.loih4 {
    background-color: #99dddd;
}
.loih5 {
    background-color: #aadddd;
}
.loih6 {
    background-color: #bbdddd;
}
.loih7 {
    background-color: #ccdddd;
}
.loih8 {
    background-color: #dddddd;
}
.loih9 {
    background-color: #eedddd;
}
.loih10 {
    background-color: #ffdddd;
}

div.l_hour {
    width: 10px;
    height: 10px;
}

div.l_hour {
    display: none;
}

div.l_day {
    width: 10%;
}

.day_sow {
    clear: left;
}

.l_day::before {
  content: "Den";
  background-color: yellow;
  width: 100%;
  display: block;
  padding: 2px;
  text-align: center;
}

.l_week::before {
  content: "Týden";
  background-color: yellow;
  width: 100%;
  display: block;
  padding: 2px;
  text-align: center;
}

.l_month::before {
  content: "Měsíc";
  background-color: yellow;
  width: 100%;
  display: block;
  padding: 2px;
  text-align: center;
}

.tlbox {
    display: block;
}

div.tlbox {
    border-style: solid;
    border-width: 2px;
    float: left;
    margin: 5px;
    padding: 3px;
    line-height: 1.0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.isbox {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    float: left;
    display: block;
    margin: 5px;
    padding: 3px;
    line-height: 1.0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.content {
    background-color: yellow;
}

div.agenda {
    // width: 100%;
}

/* Okna, ve kterych ze zabbixu neprisly zadne data. Mely by byt videt spis jako chyba. */
div.found0 {
    background-color: white;
    border: 1px dashed;
}

/* Okna, kde nejsou zadne rozumne data k procesovani. */
div.processed0 {
    background-color: white;
    border: 1px dashed;
}
